* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*font-family: 'Open Sans', 'Roboto';*/
}
body {
    background-color: rgb(2, 10, 24);
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto Serif", serif;

}
.center {
    padding-left: calc(50% - 1170px/2);
    padding-right: calc(50% - 1170px/2);
    margin-right: 2%;
    margin-left: 2%;
}
.header__nav{
    margin-bottom: 160px;
    /*padding-top: 39px;
    padding-bottom: 39px;
    padding-right: 20px;
    padding-left: 20px; */
    display: flex;
    justify-content: center;
    gap: 40px;
}
.header__link {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left; 
    padding-top: 39px;
    padding-bottom: 39px;
    padding-right: 20px;
    padding-left: 20px;
}
.content {
    margin-bottom: 197px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content__info {
    width: 45%;
}
.title {
    color: rgb(58, 104, 184);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.big__title {
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left; 
}
.text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}
.content__buttons {
    display: flex;
    gap: 20px;
}
.button {
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background: rgb(58, 104, 184);
    /*width: 171px;
    height: 57px; */
    padding: 15px 30px 15px 30px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}
.watch {
    display: flex;
    align-items: center;
    gap: 10px;
   /* width: 217px;
    height: 57px;*/
}
.logos {
    margin-bottom: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__img {
    width: 20%;
} 
.more__content {
    margin-bottom: 264px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more__content__img {
    width: 50%;
}
.more__content__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}
.more__content__title {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 117px;
    margin-bottom: 30px;
}
.more__content__text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}
.achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 243px;
}
.achievements__big {
    grid-area: 2 /1 / 4 / 3 ;
}
.achievements__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background: rgb(19, 32, 53);
}
.achievements__item__title {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.achievements__big__title{
    margin-top: 60px;
    margin-bottom: 60px;
} 
.achievements__item__text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
}
.reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 221px;
}
.reviews__info {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 45%;
}
.reviews__info__title {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;  
}
.reviews__info__text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}
.footer {
    padding-top: 48px;
    padding-bottom: 46px;
    display: flex;
    gap: 10%;
    /*border-radius: 10px;
    backdrop-filter: blur(200px);
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.2) -41.902%,rgb(255, 255, 255) 260.236%);
    opacity: 0.05;*/
}
.information {
    width: 30%;
}
.information__title {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 33px;
}
.contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 24px;
}
.information__text {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 250;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.contact__detalis {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.social__network {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
}

@media (min-width: 768px)and (max-width: 1024px) {
    .center {
        padding-right: calc(50% - 376px);
        padding-left: calc(50% - 376px);
        margin-right: 2%;
        margin-left: 2%;
    }
    .content {
        flex-direction: column;
    }
    .content__info {
        width: 80%;
        margin-bottom: 128px;
    }
    .big__title {
        font-size: 48px;
    }
    .logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .more__content {
        display: flex;
        flex-direction: column;
        gap: 68px;
    }
    .more__content__img {
        width: 100%;
    }
    .more__content__info {
        width: 70%;
    }
    .more__content__title {
        margin-top: 0px;
    }
    .button{
        font-size: 16px;
    }
    .display__none {
        display: none;
    }
    .achievements {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 32px;
    }
    .achievements__item {
        width: 45%;
        /*margin-right: 203px;
        margin-left: 203px;*/
    }
    .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }
    .reviews__info {
        width: 80%;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
    .information {
        width: 45%;
    }
}
@media (min-width: 375px)and (max-width: 767px) {
    .center {
        padding-right: calc(50% - 172px);
        padding-left: calc(50% - 172px);
        margin-right: 2%;
        margin-left: 2%;
    }
    .header__nav{
        margin-bottom: 64px;
        gap: 16px;
    }
    .header__link {
        font-size: 14px;
        line-height: 19px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .content {
        flex-direction: column;
        margin-bottom: 128px;
    }
    .content__img {
        width: 100%;
    }
    .content__info {
        width: 100%;
        margin-bottom: 128px;
    }
    .title {
        font-size: 14px;
        text-align: center;
        margin-bottom: 16px;
    }
    .big__title {
        display: flex;
        font-size: 28px;
        text-align: center;
        margin-bottom: 64px;
    }
    .text{
    text-align: center;
    margin-bottom: 39px;
    }
    .content__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

    }
    .button {
        margin-top: 0px;
        margin-bottom: 0px;
    } 
    .logos {
        margin-bottom: 204px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .logo__img {
        width: 100%;
    }
    .more__content {
        margin-bottom: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 68px;  
    }
    .more__content__img {
        width: 100%;
    }
    .more__content__info {
        width: 100%;
        align-items: center;

    }
    .more__content__title { 
        margin-top: 0px;  
        font-size: 24px;
        text-align: center;
        margin-bottom: 16px;
    }
    .more__content__text {       
        font-size: 16px;
        text-align: center;
        margin-bottom: 16px;

    }
    .achievements {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 32px;
        margin-bottom: 96px;
    }
    .display__none {
        display: none;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-bottom: 96px;
    }
    .reviews__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__info__title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 16px;
    }
    .reviews__info__text {
        font-size: 16px;
        text-align: center;
        gap: 16px;
    }
    .reviews__img {
        width: 100%;
    }
    .footer {
        padding-top: 113px;
        padding-bottom: 64px;
        flex-direction: column;
        gap: 32px 
    }
    .information {
        width: 100%;
    }
    .information__title {
        text-align: center;
    }
    .info__1 {
        order: 1;
    }
    .info__2 {
        order:0;
    }
    .info__3 {
        order: 2;
    }
    .information__text {
        width: 85%;
    }
    .contact__detalis {
        text-align: center;
    }
    .social__network {
        justify-content: center;
    }

    }
    

